.askUsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 0;

    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    position: relative;

    padding-left: 124px;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  object-fit: cover;
}
  
.bg_img {
  position: absolute;
  right: 20px;
  bottom: 0;
  object-fit: cover;
  z-index: 2;
}

.formContainer {
  border-radius: 23px;
  background: #91A0E2;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.00);
  padding: 16px;
  padding-left: 74px;
  padding-right: 54px;
  flex: 1;
  width: 100%;
  max-width: 610px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.form_wrap {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.title {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}
  
.subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 200;
  text-shadow: 0 1px 2px white;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}
  
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.formGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.select {
  position: relative;
    
}

.selectValue {
  border: 1px solid #ccc;
  color: #1B1B1C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  outline: none;
  padding: 14px 20px;
  border-right: none;

  background-color: #fff;
  border-radius: 12px 0 0 12px;
  display: flex;
  align-items: flex-end;
  padding-right: 4px;
}

.selectIcon {
  width: 24px;
}

.selectDrop {
  width: 6px;
  height: 4px;
  background-color: #9A9A9A;
  margin-left: 5px;
  margin-right: 10px;
}

.selectList {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  display: none;
  max-height: 200px;
  overflow-y: scroll;
}

.selectList.open {
  display: block;
}

.selectItem {
  display: flex;
  padding: 14px 16px;
  gap: 6px;
}

.formGroup input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  color: rgba(27, 27, 28, 0.50);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 0 12px 12px 0;
  border-left: none;
  margin-left: -2px;
  padding-left: 4px;
}

.formInput {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  background: #FFF;
  padding: 14px 20px;
  outline: none;

  overflow: hidden;
  color: rgba(27, 27, 28, 0.50);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.submitBtn {
  background-color: #fff;
  color: #000;
  padding: 0.75rem;
  border: none;
  min-width: 175px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-right: auto;
  transition: 0.4s ease;
}
  
.submitBtn:hover {
  background: linear-gradient(90deg, #7CFF98 0.02%, #852EFF 144.33%);
}


.submitBtn:focus {
  transform: scale(1.03);
}

.success {
  color: green;
  margin-top: 1rem;
  font-weight: 500;
}
  
.notice {
  font-size: 0.75rem;
  margin-top: 1rem;
  color: #1C1C1C;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  cursor: default;
}

.noticeUndln {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}
  



@media (max-width: 1440px){
 
}

@media (max-width: 1350px){
  .askUsSection {
    padding: 0;
    min-height: fit-content;
    height: fit-content;
  }

  .formContainer {
    max-width: 100%;
    border-radius: 0;
    height: 100%;
    padding: 58px 24px;
    padding-bottom: 70px;
    min-height: 630px;
    display: flex;
    justify-content: center;
  }

  .form_wrap {
    width: 100%;
    max-width: 850px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .form {
    max-width: 680px;
  }

  .title {
    font-size: 36px;
    font-weight: 900;
  }

  .subtitle {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 42px;
  }

  .formInput {
    border-radius: 11px;
    padding: 14px 20px;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: 800;
    line-height: 15.6px;
  }

  .selectValue {
    padding: 13px 20px;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: 800;
    line-height: 15.6px;
  }

  .selectItem {
    display: flex;
    padding: 14px 16px;
    gap: 6px;
  }

  .formGroup select {
    padding: 12px 20px;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: 800;
    line-height: 15.6px;
  }

  .formGroup input[type="tel"] {
    padding: 14px 20px;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: 800;
    line-height: 15.6px;
  }

  .submitBtn {
    background: #F8F8FA;
    padding: 28px;
    min-width: 270px;
    border-radius: 32px;
    line-height: 16px;

    color: #1C1C1C;
    font-size: 20px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 16px;
  }

  .notice {
    margin-top: 36px;
    color: #1C1C1C;
    font-size: 20px;
    text-align: center;
  }

  .noticeUndln {
    max-width: 220px;
    display: inline-block;
  }
}


@media (max-width: 1024px){
  .form_wrap {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .subtitle {
    font-size: 32px;
  }
}

@media (max-width: 768px){
  .askUsSection {
    padding: 0;
    min-height: fit-content;
    height: fit-content;
  }

  .formContainer {
    padding: 58px 20px;
  }

  .title {
    color: #000;
    font-size: 24px;
  }

  .subtitle {
    color: #000;
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
  }

  .bg_img {
    width: 490px;
  }


  .formInput {
    padding-bottom: 14px;
  }


  .selectValue {
    padding-bottom: 14px;
  }

  .formGroup input[type="tel"] {
    padding-bottom: 14px;
  }

}


@media (max-width: 568px){
  .bg_img {
    width: 390px;
    height: 380px;
    top: calc(50% - 190px);
    right: -84px;
  }
}