.yes {
    width: 100vw;
    min-height: fit-content;
    height: 100vh;

    position: relative;
    background-color: #F8F8FA;
    padding: 36px;
}

.yes__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.yes__bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.yes__bg_left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scale(-1, 1);
    display: none;
}

.yes__bg_left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.yes__img {
    width: 212px;
    height: 726px;
    position: relative;
}

.yes__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.yes__main {
    height: 100%;
    min-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 124px;
}

.yes__info {
    max-width: 620px;
    margin-top: 64px;
    margin-right: 150px;
}

.yes__block {
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px -1px 15px 1px rgba(0, 0, 0, 0.25);
    padding: 20px 14px;

    padding-top: 80px;
    margin-top: -64px;
    position: relative;
}

.yes__block:first-child {
    padding-top: 24px;
}

.yes__block_text {
    background: #FFF;

    /* background: linear-gradient(90deg, #FF00F2 0%, #FF1F23 100%); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.yes__block_text span {
    background: #FFF;
    background: #000;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yes__block_text .red {
    background: #FFF;
    background: #000;

    background: linear-gradient(90deg, #FF00F2 0%, #FF1F23 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1440px){
 
}

@media (max-width: 1350px){
    .yes__img {
        display: none;
    }

    .yes__bg_left {
        display: block;
    }
    
    .yes__main {
        justify-content: center;
    }
}


@media (max-width: 1024px){
    .yes__info {
        max-width: 520px;
    }

}

@media (max-width: 768px){
    .yes__block_text {
        font-size: 16px;
        font-weight: 800;
    }

    .yes__main {
        justify-content: center;
        padding-left: 0;
        width: fit-content;
    }

    .yes__info {
        margin-right: auto;
    }

    .yes {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 568px){
    .yes__bg_left {
        display: none;
    }

    .yes__bg {
        display: none;
    }

    .yes {
        padding: 16px 10px;
    }

    .yes__block {
        border-radius: 40px;
        padding: 33px 14px;

        padding-bottom: 34px;
        padding-right: 20px;
        margin-top: -4px;
        position: relative;
        background: #F8F8FA;
    }
}