.telegramButton, img{
  display: none;
  }

  @media (min-width: 910px) {
.telegramButton {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 45px;
    right: 38px;
    background-color: #1A5873;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.1s ease-in;
  }
  
  .telegramButton:hover {
    transform: scale(1.1);
    border: solid;
    border-color: #bccdd5;
    border-width: 5px;
  }

  .img {
    display: flex;
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
  }
  }