.welcomeSection {
    font-family: 'Inter', sans-serif;
    padding: 0;
    background-color: #F8F8F8;
    position: relative;
    background-image: url(../../images/mainDots.png);
    background-position: left top 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
  }
  
  .headerImgBox {
    overflow: hidden;
  }

  .header {
    width: 100vw;
    display: block;
    padding: 20px 20px 37px 20px;
  }

  
 .logo {
    display: inline-block;
    height: 28px;
  }

  .nav, .headerImg {
    display: none;
  }

 .welcomeContent {
    padding: 0px 20px;
    /* box-sizing: border-box; */
 }
  
 /* .sideMenu {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
 }

 .sideMenuImg {
  display: block;
  height: 20px;
 } */
  
.content {
  padding: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
  
.mainText {
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 5px;
    vertical-align: middle;
    color: #101010;
  }
  
  .englishText {
    background: linear-gradient(to right, rgba(118, 20, 255, 1), rgba(224, 160, 160, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .highlight {
    background: linear-gradient(to right, rgba(77, 143, 111, 1), rgba(165, 206, 25, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .applyButton {
    display: none;
  }

  .botButton {
    border: 2px solid #9100ff;
    padding: 0.75rem 53px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    color: #101010;
    transition: transform 150ms, box-shadow 150ms;
  }
  
  .botButton:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 3.5px #9100ff;
  }
  
  .imageBlock, .image {
    display: none;
  }

  @media (min-width: 361px) and (max-width: 909px) {
    .welcomeSection {
      padding-bottom: 80px;
    }

    .header {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0px;
    }

    .welcomeContent {
      padding: 0px 0px 0px 20px;  
      box-sizing: border-box;
    }
  }

  @media (min-width: 650px) and (max-width: 909px) {
  .imageBlock {
    display: block;
    flex: 1;
    text-align: center;
  }
  
  .image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 60px;
    right: 0px;
  }
  }

   @media (min-width: 910px){
  .welcomeSection {
    background-image: none;
  }

  .welcomeContent {
    padding: 0px 48px 0px 130px;
    padding-bottom: 0px;
    background-color: #F8F8FA;
  }

  .header {
    display: flex;
    padding-left: 130px;
    padding-right: 48px;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff
  }

  .headerImg{
    display: block;
    border-bottom-style: solid;
    border-bottom-color: #0A2F59;
    border-bottom-width: 5px;
    width: 100vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin: 32px 120px 32px 120px;
    height: 0;
  }
  
  .navLink {
    display: block;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: opacity 0.2s;
    margin-left: 120px;
  }
  
  .navLink:hover {
    opacity: 0.7;
  }

  .sideMenu, .sideMenuImg {
    display: none;
  }

  .logo {
    height: 40px;
  }

  .textBlock {
    max-width: 500px;
  }

  .mainText {
    font-family: Inter;
    font-weight: 900;
    font-size: 66px;
    line-height: 93px;
    letter-spacing: 5px;
    vertical-align: middle;

    color: #101010;
    max-width: 100%;
    height: auto;
  }

  .buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 36px;
  }

  .applyButton {
    display: block;
    border: 2px solid #9100ff;
    padding: 0.75rem 1.5rem;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
    color: #101010;
    transition: transform 150ms ease, box-shadow 150ms ease;
  }

  .botButton {
    border: 2px solid #59B300;
    padding: 0.75rem 1.5rem;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    color: #101010;
    box-shadow: none;
    transition: transform 150ms ease, box-shadow 150ms ease;
  }
  
  .botButton:hover {
    transform: scale(1.01);
    box-shadow: 1px 2px 3.5px #59B300;
  }

  .applyButton:hover {
    transform: scale(1.01);
    box-shadow: 1px 2px 3.5px #9100ff;
  }

  .imageBlock {
    display: block;
    flex: 1;
    text-align: center;
  }
  
  .image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: 100px;
  }
}